html {
    background: url(background.png);
    background-repeat: repeat;
    background-size: cover;
    /*background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);*/
    -webkit-font-smoothing: antialiased;
}
body{
    height: 100%; 
    margin-left: 0px;
    margin-right: 0px;
}


.sections {
    float: left;
    position: fixed;
    width: 20%;
    text-align: left;
    max-height: auto;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
}

.header {
    text-align: center;
    height: auto;
    font-size: 100px;
}

/*
.button {
    background-color: #BBBDF6; 
    border: 2px solid #453F78;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float: right;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}

.button:hover {
    background-color: #453F78;
    color: white;
    cursor: pointer;
}
*/
.sidemenu {
    background-color: #BBBDF6; /* Green */
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float: left;
    width: 150px;
}

.sidemenu:hover {
    background-color: #453F78;
    color: white;
}

h1 {
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
}

li {
    margin-top: 10px;
}

.floaters {
    margin-left: 350px;
    margin-top: 50px;
}

.innerfloaters {
    background-color: white;
    margin-bottom: 30px;
    margin-right: 30px;
    height: 200px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon {
    width: 140px;
    height: 140px;
    margin-left: 20px;
    float: left;
    display: inline;
    margin-top: -10px;
}
.wrapper{
    width: 100%;
    min-height: 100%;
}
.push{
    position: absolute;
    height: 50px;
}
.foot{
    position: relative;
    height: 50px;
    bottom: -10px;
    background-color: #2bbc91;
    color: white;
    text-align: center;
    width: 100%;
}

img {
    max-width:200px;
    max-height:70px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.header {
    background-color: #2bbc91;
    height: 80px;
    font-size: 100px;
}

.button {
    background-color: #759AAB; /* Green */
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.button:hover {
    background-color: #453F78;
    color: white;
}
.login {
    font-size: 15px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}
